.layaout {
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  width: 181px;
  height: 48px;
  left: 97px;
  top: 25px;
  background: url(../images/logo.png);
}

.menu {
  width: 1436px;
  height: 104px;
  left: 0px;
  top: 0px;
  background: #000000;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.item {
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.head {
  width: 1436px;
  height: 724px;
  left: 0px;
  top: 0px;
  background: url(../images/degrad.png);
  position: relative;
}

.text {
  margin-top: 133px;
  margin-left: 105px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #000000;
}

.captionsec {
  margin-top: 180px;
  display: flex;
}

.caption1 {
  margin-left: 105px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 70px;
  /* or 87% */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub {
  margin-top: -13px;
}

.mehr {
  margin-left: 105px !important;
  background-color: #ffff62;
  border-color: #ffff62;
  width: 239px;
  height: 50px;
}

.caption2 {
  margin-left: 155px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 70px;

  /* or 87% */

  color: #fffd7b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

.caption3 {
  margin-left: 105px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;

  color: #ffffff;
}

.menuoptions {
  vertical-align: center;
  align-items: center;
  justify-content: center;
}
